body{
  background-color: #d5e2e377;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
/* Header Nav */
/* Animação seta Nav */
  .nav-link .icon-angle-down{
      transition: transform 0.3s ease, color 0.3s ease;
    }
  
  .nav-link:hover .icon-angle-down {
      transform: rotate(180deg); 
      color: #000; 
    }
  /* Fim da animação seta nav*/
  /* Color link nav */
  .nav-link {
    color: rgb(121, 121, 121);
  }

  .nav-link:hover{
    color: #7da8ab;
  }

  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #09888e;
}
  /* Fim do Color link nav */
  /* Fim do Header Nav */
  /* FIM DO HEADER */

  /* HERO */
  /* Seção Hero */
  /* Customização da img do Hero */
  .custom-padding {
    width: 100%;
    height: 100%;
  }
  /* Fim da customização do img Hero */
  /* Customização do h1 hero carousel */
  .custom-carousel {
    max-width: 80%; /* Ajuste a largura desejada */
    max-height: auto; /* Ajuste a altura desejada */
    margin: 0 auto; /* Centraliza horizontalmente */
  }
  
  .custom-carousel .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem dentro do tamanho reduzido */
  }
  /* Fim da customização do carousel */
  /* Customização do col-carousel */
  .img-featurette{
    max-width: 100%; /* Ajuste a largura desejada */
    max-height: auto; /* Ajuste a altura desejada */
    margin: 0 auto;
  }
  /* Fim da customização do col-carousel */
  /* Animação de suavidade nas imagens */
  .img-smooth{
    cursor: pointer;
    transition: transform 0.5s ease;
  }

  .img-smooth:hover{
    transform: translateY(-0.33em);
  }
  /* Fim da animação de suavidade nas imagens */
  

  /* Ícones pretos das setas do carousel */
  .carousel-control-prev-icon,
    .carousel-control-next-icon {
      filter: invert(1); /* Inverte a cor para preto */
    }
  /* Fim da customização das setas do carousel */











  
/* Seção About */

.about-body{
  background-color: #d5e2e3;
}

/* Fim da seção About */

/* Seção Blog */

.blog-body{
  background-color: #d5e2e3;
}

/* Fim da seção blog */

/* Seção Breed */

.breed-body{
  background-color: #d5e2e3;
}

/* Fim da seção Breed */

/* Seção Contact */

.contact-body{
  background-color: #d5e2e3;
}

/* Fim da seção contact */

/* Seção Doubts */

.doubts-body{
  background-color: #d5e2e3;
}

/* Fim da seção Doubts */

/* Seção History */

.history-body{
  background-color: #d5e2e3;
}

/* Fim da seção History */

/* Seção Store */

.store-body{
  background-color: #d5e2e3;
}

/* Fim da seção Store */
